<div class="jumbotron text-center">
  <p class="lead">
    Search Movies by title using OMDb API
  </p>
</div>

<div class="container">
  <div class="input-group">
    <input type="search" ng-model="search" ng-change="change()" class="form-control" placeholder="Search by movie title" />
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  </div>

  <br>

  <div ng-if="!details">
    Loading results...
  </div>

  <div ng-if="details.Response==='True'">
    <div class="col-md-5">  
    <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank"><img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : 'http://imdb.wemakesites.net/api/1.0/img/?url='+details.Poster }}" class="thumbnail"></a>
    </div>

    <div class="col-md-7">

      <h3>
        <span>
          <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
        </span> ({{ details.Year }})
      </h3>

      <p>{{details.Rated}} | {{details.Runtime}} | {{details.Genre}} | {{details.Released}}</p>

      <p>
        <b>Rating: </b> {{ details.imdbRating }}
      </p>
      

      <p>{{ details.Plot }}</p>

      <p>
        <b>Director: </b> {{ details.Director }}
      </p>
      <p>
        <b>Stars: </b> {{ details.Actors }}
      </p>
      <p>
        <b>Writers: </b> {{ details.Writer }}
      </p>

      <div ng-if="!showThanks">
        <h3>Email this info!</h3>
        <form class="input-group" ng-submit="sendInfo()">
          <input type="email" ng-model="user.email" class="form-control" placeholder="Email" />
          <span class="input-group-btn">
            <button class="btn btn-default">Send Info</button>
          </span>
        </form>
      </div>

      <div ng-if="showThanks">
        <h4>Thanks!</h4>
      </div>
  
    </div>
  </div>

  <div ng-if="details.Response==='False'">
    No results found.
  </div>

</div>